body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e2f;
}
.main-container{
    min-height: fit-content;
    max-width: 20vw;
    background-color: #2a2a40;
    display: flex;
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column-reverse;
    padding: 5px;
    border-radius: 5px;
}
.buttons-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.buttons{
    width: 60px;
    height: 60px;
    background-color: #3a3a55;
     border-radius: 50%;
    margin: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.operators{
    background-color: #00ff88;
    color: white;
}
.clear{
    background-color: #ffcc00;
    color: white;
}
.buttons:hover{
    background-color: #3a3a3a;  
}
.operators:hover{
    background-color: rgb(49, 193, 49);
    box-shadow: 0 0 10px #00ffcc
}
.clear:hover{
    background-color: rgb(215, 219, 92);
    box-shadow: 0 0 10px #ff4444;
}
.input{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 0;
}
input{
    height: 150px;
    width: 90%;
}
@media screen and (max-width: 1300px) {
    .main-container { 
          min-height: fit-content;
          max-width: 25vw;
    }
}
@media screen and (max-width: 600px) {
    .main-container { 
          min-height: fit-content;
          max-width: 80vw;
    }
}
@media screen and (max-width: 450px) {
    .main-container { 
          min-height: fit-content;
          max-width: 100vw;
    }
}
@media screen and (max-width: 1100px) {
    .main-container {
        min-height: fit-content;
        max-width: 30vw;
    }
}
